extends templates/base

block js
  script(type="text/javascript").
    engines = new nbx.Engines($mainwrapper);

block content
  .languages-and-frameworks
    .section-header
      .science-and-search
        img.shadow-icon(data-src="mad-scientist"  scalable="true" lock-to-max="true")
        .search
          input( placeholder="Search Existing Engines" )
          .search-btn
            img.shadow-icon(data-src="search")
      .title
        .text IT’S YOUR FRAMEWORK, YOU DEFINE THE IDEAL RUNTIME
        a(href="//webchat.freenode.net/?channels=nanobox").irc-blurb
          img.shadow-icon(data-src="irc-outline")
          .txt Join our IRC channel, for help - #nanobox on freenode
      
    .row.plugin-overview
      .descript
        h2 Simple Custom Engine Dev
        p Writing an engine is surprising simple. You have likely setup and configured your dev environment multiple times in the past. An engine simply formalizes this process for consistent sharable environments. Five bash scripts specify the services your framework needs and how they should be configured so devs can begin building their app immediately without manually installing or configuring anything.
      .graphic
        img.shadow-icon(data-src="plugin-scripts" scalable="true" lock-to-max="true")
    
    .script-summaries
      .script 
        .title sniff
        .description The sniff script is executed when Nanobox attempts to determine the most appropriate engine for an app. If a positive match is found, it returns true.
      .script 
        .title boxfile
        .description This script informs Nanobox of how to run the app. This includes instructions for how to start the webs, workers, and even data services.
      .script 
        .title prepare
        .description This script is responsible for "preparing" the environment in which the built codebase will run. Install and configure runtimes, etc.
      .script 
        .title build
        .description The purpose of the build script is to "build" your codebase to be run in an isolated container. Compiling the code and generating config files.
      .script 
        .title cleanup
        .description This script is responsible for removing any particles or cruft that are unnecessary in the live environment.
    
    .buttons
      a.block-btn(href="//github.com/pagodabox?utf8=%E2%9C%93&query=nanobox-engine")
        img.shadow-icon(data-src="git" )
        .txt View a Sample Engine
        img.shadow-icon(data-src="right-arrow" )
      a.block-btn(href="//docs.nanobox.io/engines/")
        img.shadow-icon(data-src="documentation" )
        .txt Full Documentation
        img.shadow-icon(data-src="right-arrow" )
