extends templates/base

block js

block content
  .home
    .actions
      .title Local Development Done right
      .buttons
        a.github(href="https://github.com/pagodabox?utf8=%E2%9C%93&query=nanobox")
          img.shadow-icon(data-src="git" )
          p Fork me on github
        a.download(href="/downloads")
          p Download
          img.shadow-icon(data-src="download-home" )
    .manifesto
      .point
        .svg-holder
          img.shadow-icon(data-src="manifesto-parity" )
        p Maintain dev<br/>production parity
      .point
        .svg-holder
          img.shadow-icon(data-src="manifesto-automation" )
        p Automate environment configuration
      .point
        .svg-holder
          img.shadow-icon(data-src="manifesto-virtualization" )
        p Keep your local machine clean through virtualization
        
          
    .overview
      .info
        .blurb.src-code
          h2 <span>1 </span>App Source Code
          p Focus on coding rather than configuring a local dev environment 
        .blurb.engine
          h2 <span>2 </span>Language Engine
          p The Engine detects your app type and specifies what services your app needs (ruby, mongo, etc) and how they should be configured.
        .blurb.docker
          h2 <span>3 </span>Docker Containers 
          p Containers are configured and initialized. Your code is then built and installed. 
        .blurb.vagrant
          h2 <span>4 </span>Vagrant / Virtual Box
          p Your services run in an ultra lightweight linux virtual machine (30mb RAM).  Requests to localhost are proxied to your app
      .graphic
        img.shadow-icon(data-src="sandwich" scalable="true" lock-to-max="true")
    
    .mini-overview
      .mini
        h2 Run Your App
        p Build your code and preview your app in a fast lightweight VM
        .script
          pre
            code.language-nanobox
              | $ nanobox run 
              | Launching Vagrant Virtual Machine
              | Detecting app type
              | Installing runtimes in VM
              | etc..
        //- a(href="#developing-your-app") How it works
      
      .mini
        h2 Develop Your App
        p Run generators, tests and iterate in an isolated sandbox
        .script
          pre
            code.language-nanobox
              | $ nanobox dev 
              | Entering virtual machine context:
              | $ rails s # development server 
        //- a(href="#developing-your-app") How it works
        
    .jump-links
      a(href="//engines.nanobox.io")
        .image-wrap
          .logos
        .jump Browse Languages &amp; Frameworks
      a(href="/engine-dev")
        .image-wrap(style="width:147px;")
          img.shadow-icon(data-src="mad-scientist-window" scalable="true")
        .jump Develop an Engine for your Framework
      a(href="/how-nanobox-works")
        .image-wrap(style="width:147px;")
          img.shadow-icon(data-src="docker-containers" scalable="true")
        .jump How it Works
