$global-max-width:1040px;

html           {box-sizing: border-box;}
*, *:before,
*:after        {box-sizing: inherit;}

body           { margin:0; padding:0; font-family: $lato; background:#212C33; color:#496B7F; -webkit-font-smoothing: antialiased; font-weight:bold; }
// body *         { @include transition(all, 0.15s);}
ul             { list-style-type: none; margin:0; padding:0; }
h3             { @include bottom-border(); padding-bottom:15px; margin-bottom:21px;  }
h2            { font-size:20px; line-height:1.5; color:#7796AA; font-weight:bold; letter-spacing: 0.02em; font-style:italic;}

.main-wrapper  { max-width:$global-max-width; margin:0 auto; position:relative; }
.hidden        { display:none; }

a              { color:#62B1DD; text-decoration:none;
  &.inline     { display:flex; flex-direction:row; align-items:center; }
  svg          { margin-left:4px; padding-top:2px}
}
