
/*
                                                                         #
#        ##   #    #  ####  #    #   ##    ####  ######  ####          #     ###### #####    ##   #    # ###### #    #  ####  #####  #    #  ####
#       #  #  ##   # #    # #    #  #  #  #    # #      #             #      #      #    #  #  #  ##  ## #      #    # #    # #    # #   #  #
#      #    # # #  # #      #    # #    # #      #####   ####        #       #####  #    # #    # # ## # #####  #    # #    # #    # ####    ####
#      ###### #  # # #  ### #    # ###### #  ### #           #      #        #      #####  ###### #    # #      # ## # #    # #####  #  #        #
#      #    # #   ## #    # #    # #    # #    # #      #    #     #         #      #   #  #    # #    # #      ##  ## #    # #   #  #   #  #    #
###### #    # #    #  ####   ####  #    #  ####  ######  ####     #          #      #    # #    # #    # ###### #    #  ####  #    # #    #  ####

*/

.languages-and-frameworks { margin-top:20px; font-family:$lato; padding-bottom:100px;
  h2                      { font-weight:normal; font-size:20px; line-height:1.5; color:#7796AA; font-weight:bold; letter-spacing: 0.02em; font-style:italic;}
  p                       { font-size:13px; line-height: 1.7; color:#5A768A; font-weight:normal; font-style:italic; }

  .section-header         { margin: 90px 0 80px;
    .science-and-search   { display:flex; flex-direction:row; justify-content:space-between; align-items:flex-end;
      .search             { display:block; position:relative;
        input             { font-family:$lato; color:#FFF5AD; font-size:16px; background:#223542; border:none; width:250px; height:38px; margin-bottom:20px; padding:10px;
          &:focus         { outline:none; }
        }
        svg               { position:absolute; right:6px; top:7px; cursor:pointer;
          &:hover *       { fill:white; }
        }
      }
    }
    svg                   { }
    .title                { align-items:center; justify-content:space-between; display:flex; border:solid 1px $border-color; border-right:none; border-left:none; margin-top: 8px;
      .text               { color:#B2C5D1; text-transform:uppercase; font-size:20px; letter-spacing:0.12em; font-family:$lato; font-weight:normal; padding:24px 0; margin-top:0; border-bottom:none; }
      .irc-blurb          { display:flex; cursor:pointer; min-width: 220px; align-items:center;
        svg               { margin-right:10px; }
        .txt              { font-weight:normal; font-family:$lato; color:#3E6F96; font-size:13px; width: 165px; }
        &:hover           {
          svg *           { stroke:white; }
          .txt            { color:white; }
        }
      }
    }
  }
  h1                      { color: $turquoise; }
  .row                    { margin:0; }
  .plugin-overview        { display:flex; justify-content:space-between; align-content:center; padding:33px 0 40px;
    .graphic              { width:50%; font-weight:normal;  }
    .descript             { width: 50%; vertical-align: top;
      h2                  { font-weight:normal; margin:0 0 -10px 0; font-size:20px; }
      p                   { color:#3E6F96; font-size:16px; line-height:23px;}
    }
  }
  .script-summaries       { display:flex; margin-top:20px;
    .script               {
      .title              { color:#FFF5AD; font-family:$code-font; }
      .description        { color:#3E6F96; font-size:15px; font-weight:normal; font-style:italic;line-height:23px; padding:0 34px 0 0 }
    }
  }

  .buttons                  { display:flex; margin-top:60px;
    a.block-btn             { display:flex; align-items:center; background:#284861; font-weight:normal; font-style:italic; color:#62B1DD; height:46px; margin-right:50px; padding:0 10px 0 4px; min-width:254px;
      &:hover               { background:#205279; color:white; }
      .txt                  { }
      svg                   {
        &#documentation     { margin-right:7px; }
        &#git *             { fill:#62B1DD; }
        &#right-arrow       { transform:scale(1.2); margin-left: auto;
          *                 { fill:#FFF5AD; }
        }
      }
    }
  }

  @media only screen and (max-width: 690px) {
    .script-summaries       { margin-top:0px; flex-wrap:wrap;
      .script               { max-width:400px; margin:8px 10px;
        .title              {
        }
        .description        {  }
      }
    }
    .plugin-overview        { flex-direction:column;
      .graphic              { display:none; }
      .descript             { width:initial; }
    }
    .section-header         { margin:0;
      .title                { flex-direction:column; align-items:center;  padding:10px 0;
        .text               { font-size:17px; padding:10px 0; text-align:center;}
        .irc-blurb          {
          .txt              {  }
        }
      }
      .science-and-search   { flex-direction:column-reverse; align-items:center; }
    }
    .buttons                { flex-direction:column; margin-top:20px; padding:10px;
      a                     { margin:5px 0; }
    }
  }
}

// Move these up to other descript
.row                      { margin: 21px 0 50px; display:flex; flex-wrap: wrap;
  .descript               { padding:0 10px 0; display:block; vertical-align:middle; max-width:450px;}
  .visual                 { padding:0 10px; display:block;
    .holder               { width: 70% !important; }
  }
}
