@mixin sprite($image){ background:url('/assets/sprite.png');
  @if( $image == "language-logos" ){ width:248px; height:119px; background-position:-0px -0px; }
}

@mixin bottom-border() {
  border-bottom:solid 1px #2C4354;
}

@mixin transition ($property:all, $duration:0.05s, $timing:linear, $delay:0s) {
  @if $property != none {
    -webkit-transition: $property $duration $timing $delay;
    transition: $property $duration $timing $delay;
  } @else {
    -webkit-transition: none;
    transition: none;
  }
}

@mixin transition-duration ( $duration:0s) {
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin removeTransitions(){ @include transition(); }
@mixin selectable($val:none){
  -moz-user-select: $val;
  -khtml-user-select: $val;
  -webkit-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin transform ($transform) {
  transform:         $transform;
  -webkit-transform: $transform;
  -ms-transform:     $transform;
}
@mixin center()            { display:block; margin:0 auto; }
@mixin center-vertical()   { position:relative; top:50%; @include transform(translateY(-50%)); }
@mixin center-horizontal() { position:relative; top:50%; @include transform(translateX(-50%)); }
@mixin circle($size)       { height:$size; width:$size; border-radius:50%; }

@mixin drop-shadow ($xoffset:0px, $yoffset:1px, $blur:33px, $color:#040c14, $radius:0px) {
  -webkit-box-shadow: $xoffset $yoffset $blur $radius $color;
  -moz-box-shadow: $xoffset $yoffset $blur $radius $color;
  box-shadow: $xoffset $yoffset $blur $radius $color;
}
