doctype html
html(lang="en")
  
  head
    title Nanobox
    meta( name= "viewport", content= "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" )

    // build:css /style.css
    link(href='/bower-libs/top-nav/rel/style.css' rel='stylesheet' type='text/css')
    link(href='/css/nanobox.css' rel='stylesheet' type='text/css')
    link(href="/css/main.css", rel="stylesheet")
    // endbuild
    
    link(href='//fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css')
    link(rel="icon" type="image/png" href="/assets/favicon.png")


  body
    //- make transparent for fade in below
    .main-wrapper(style="opacity:0;")  
      include ../shared/top-nav.jade
      .content-area
        block content
      
    // build:js1 /js/libs.js
    //- SVG library
    script(src="/bower-libs/prism/prism.js")
    script(src="/js/prism-nanobox.js")
    script(src="/bower-libs/pubsub-js/src/pubsub.js")
    script(src="/js/nanobox.js") 
    script(src="/bower-libs/jade/runtime.js")
    script(src="/bower-libs/shadow-icons-library/rel/app.js")
    script(src="/bower-libs/jquery/dist/jquery.js")
    script(src="/js/jade-templates.js")
    script(src="/bower-libs/velocity/velocity.js")
    // endbuild
    
    script(src="https://use.typekit.net/auo7ijn.js")
    script try{Typekit.load();}catch(e){}

    // build:js2 /js/app.js
    script(src="/js/app.js")
    // endbuild
    
    script(type="text/javascript").
      $mainwrapper = $(".main-wrapper");
      shadowIcons  = new pxicons.ShadowIcons();
      main         = new nbx.Main( $mainwrapper );
      shadowIconsInstance.svgReplaceWithString( pxSvgIconString, $('.main-wrapper') );
      //- Fade in after page loads to hide icon replace blip
      $mainwrapper.velocity({opacity:1})
    block js

    include ../shared/google-analytics.jade
    // build:remove 
    script(src="//localhost:35729/livereload.js")
    // endbuild
